<h1>Scoring Result</h1>
<span style="font-size: 16px;">
<table>
  <thead>
  <tr>
    <th>
      Input Values
    </th>
    <th>
      Prediction
    </th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td id="input-table">
      <div class="attributes_table">
        <table>
          <% @input.each do |k,v| %>
              <tr class="row">
                <th class="input-col"><%= k %></th><td><%= v %></td>
              </tr>
          <% end %>
        </table>
      </div>
    </td>
    <td>
      <div class="attributes_table">
        <table>
          <tr id="output-row" class="row">
            <th id="output">Delay: <span style="color: <%= @color  %>;"><%= @prediction.round(2) %> days</span></th>
          </tr>
          <% if @output['probability'] %>
              <tr class="row"><th>PROBABILITY</th><td><%= @output['probability']['values'][1] %></td></tr>
          <% end %>
        </table>
      </div>
    </td>
  </tr>
  </tbody>
</table>
</span>