<div id="carousel" class="carousel">
  <div class="carousel-inner">
    <div class="item <%= 'active' if @deal.id == 1 %>">
      <% src = @deal.trigger_product ? @deal.trigger_product : @deal.product %>
      <div class="item-content">
        <div class="col-sm-7"><%= image_tag src.image.url %></div>
        <div class="col-sm-5 carousel-description trade-gothic">
          <h1><%= src.name %></h1>
          <div class="vert-sep"></div>
          <h3><%= @deal.description %></h3>
          <div class="vert-sep"></div>
          <p><%= render partial: 'products/details_button', locals: {product: src} %></p>
        </div>
      </div>
    </div>
  </div>
</div>