<div id="main-deal" class="flex">
  <div id="img-container"><%= image_tag @deal.src.image.url %></div>
  <div id="carousel-description" class="trade-gothic">
    <h1><%= @deal.src.name %></h1>
    <h2><%= render_description @deal.description %></h2>
    <h2><%= decimal_to_euros @deal.src.price %></h2>
    <div class="vert-sep"></div>
    <p><%= render partial: 'products/details_button', locals: {product: @deal.src} %></p>
  </div>
</div>