<div class="jumbotron">
  <h3><%= deal.description %></h3>
  <br>
  <% product_page = current_page?(controller: 'products', action: 'show', id: deal.product.friendly_id) %>
  <% if deal.trigger_product or not product_page %>
    <div style="display: table;">
      <div style="display: table-cell; padding-right: 1em; vertical-align: top;" >
        <% src = product_page ? deal.trigger_product : deal.product %>
        <%= image_tag src.image.url, style: 'height: 10em;' %>
      </div>
    
      <div style="display: table-cell; padding-right: 2em; vertical-align: top;" >
        <h4><%= src.name %></h4>
        <p>
          by <%= src.brand.name %>
        </p>
        <%= render partial: "products/details#{'_cart' if action_name == 'cart'}_button", locals: {product: src} %>
      </div>
        
      <div style="display: table-cell;">
        <%= display_price(deal.product.price, deal.price) %>
      </div>
    </div>
  <% end %>
  <% if deal.image_file_name %>
    <%= image_tag deal.image.url %>
  <% end %>
</div>