<div class="jumbotron row">
  <h2 id="description"><%= render_description deal.description %></h2>
  <br><br>
  <% product_page = current_page?(controller: 'products', action: 'show', id: deal.product.friendly_id) %>
  <% combo_deal = deal.trigger_product && !deal.special %>
  <% src = product_page ? deal.trigger_product : deal.product %>
  <div id="products" class="flex">
    <% if combo_deal %>
        <div ><%= render partial: 'deals/product',
                        locals:  { product: deal.trigger_product } %></div>
        <div class="plus">+</div>
    <% end %>
    <div ><%= render partial: 'deals/product',
                    locals:  { product: src, deal: deal } unless product_page %></div>
    <% if combo_deal %>
        <div ><%= render partial: 'products/cart_button',
                        locals:  { product: deal.trigger_product, additional_product: deal.product, big: true } %>
        </div>
    <% elsif !product_page %>
        <div class="col-md-3"><%= render partial: 'products/cart_button',
                        locals:  { product: deal.product, big: true } %></div>
    <% end %>
  </div>
  <% if deal.image_file_name %>
    <br>
    <%= image_tag deal.image.url %>
  <% end %>
</div>