<div class="deal-product">
  <div>
    <%= image_tag product.image.url %>
  </div>

  <div>
    <h3><%= product.name %></h3>
    <h4>by <%= product.brand.name %></h4>
    <%= render partial: 'products/details_button', locals: { product: product} %>
  </div>

  <div>
    <% if defined?(deal) %>
      <%= display_price(deal.product.price, deal.price) %>
    <% else %>
      <%= display_price product.price %>
    <% end %>
  </div>
</div>