<div class="deal-product">
  
  <div>
    <%= link_to product_path(product) do %>
      <%= image_tag product.image.url %>
    <% end %>
    <h3><%= link_to product.name, product_path(product) %></h3>
    <h4>by <%= product.brand.name %></h4>
  </div>

  <div>
    <% if defined?(deal) %>
      <%= display_price(deal.product.price, deal.price) %>
    <% else %>
      <%= display_price product.price %>
    <% end %>
  </div>
</div>