<h1><%= company_name %></h1>
<h4><%= company_description %></h4>
<br>
<ul id="nav" class="nav nav-tabs">
  <!--<li role="presentation" class="active"><a href="#"></a></li>-->
  <li role="presentation" class="dropdown" id="categories">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Categories <span class="caret"></span></a>
    <ul class="dropdown-menu">
      <% Category.all.each do |category| %>
        <li><a href="#"><%= category.name %></a></li>
      <% end %>
    </ul>
  </li>
  <li role="presentation" id="brands">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Brands <span class="caret"></span></a>
    <ul class="dropdown-menu">
      <% Brand.all.each do |brand| %>
          <li><a href="#"><%= brand.name %></a></li>
      <% end %>
    </ul>
  </li>
  <li role="presentation"><a href="#">Deals</a></li>
</ul>

<% Category.all.each do |category| %>
  <h3><%= category.name %></h3>
  <div class="row">
    <% category.products.each do |product| %>
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail product">
          <%= content_tag :div, (image_tag product.image.url), class: 'product-image' %>
          <div class="caption">
            <h3><%= product.name %></h3>
            <p>From: Orange Computers</p>
            <div class="offer-buttons">
              <p><a href="#" class="btn btn-success" role="button">Add To Cart</a>
                <a href="#" class="btn btn-primary" role="button">Details</a></p>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>