<div id="shipping-input-container">
  <div id="shipping-output">
  
    <%= render 'banner' %>
    
    <div class="flex header_margins">
      <h1 class="bold">Supply Chain Prediction</h1>
    </div>
  
    <br>
    
    <table id="shipping-output-table" class="table">
      <thead>
      <tr class="header_row">
        <th>Shipment Details</th>
        <th>Arrival</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>
          <table id="shipping-input-table" class="table">
            <% @input.each do |k,v| %>
              <% unless k.include? 'State' %>
              <tr>
                <% comps = k.split(/[()]/) %>
                <th class="input-col"><%= comps[0] %></th>
                <td><%= v %> <%= addon comps[0], comps[1], @input %></td>
              </tr>
              <% end %>
            <% end %>
          </table>
        </td>
        <td id="output_table_container">
          <table id="output_table">
            <tr>
              <th>Predicted Delay:</th>
            </tr>
            <tr>
              <th><span style="color: <%= @color  %>;"><%= @delay.round(2) %> days</span></th>
            </tr>
          </table>
        </td>
      </tr>
      </tbody>
    </table>
    
  </div>
  
  <br>
  <p class="center-container">
    <%= link_to shipping_path, class: 'btn btn-lg' do %>
      <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;&nbsp;New Prediction
    <% end %>
  </p>
  
</div>
