<div id="shipping-input-container">
  <div id="shipping-input">
    
    <h1 class="center-container bold">
      Shipping Predictor&nbsp;&nbsp;<%= image_tag 'truck.png' %>
    </h1>
    
    <%= form_tag shipping_score_path do %>
    <table id="shipping-input-table" class="table">
      <% @schema_params.each do |param, hash| %>
        <tr>
          <th><%= label_tag param, hash[:name] %></th>
          <td><%= shipping_input param, hash, @shipment&.fetch(param) %></td>
        </tr>
      <% end %>
    </table>
    <br><br>
    <div class="center-container">
      <%= submit_tag 'Predict Delay', class: 'btn btn-lg' %>
    </div>
    <% end %>
    
  </div>
</div>