<%= content_tag :h1, 'Shopping Cart' %>
<br>
<% if @special_deal and not @cart.include? @special_deal.product %>
<%= render partial: 'deals/deal', locals: {deal: @special_deal} %>
<% end %>
<table class='shopping-cart'>
<% @cart.each do |product| %>
  <tr>
    <td class="col-md-4"><%= image_tag product.image.url %></td>
    <td>
      <%= link_to content_tag(:h4, product.name), product %>
      by <%= product.brand.name %>
      <%= stock_status !product.preorder %>
    </td>
    <td class="col-md-2">
      <%= display_price(product.price, product.discount_price) %>
    </td>
    <td>
      <%= link_to 'Remove', remove_product_path(product) %>
    </td>
  </tr>
<% end %>
</table>
<br>
<p>
  <%= link_to 'Proceed To Checkout', '#', class: 'btn btn-lg btn-warning' %>
</p>
