<h1><%= @product.name %></h1>
<h4>by <%= @product.brand.name %></h4>
<%= content_tag :p, image_tag(@product.image.url, style: 'max-height: 500px') %>

<%= render @deals %>

<%= display_price @product.price, @product.discount_price %>
<p>
  <% if @in_cart %>
    <%= link_to 'View in your Cart >', cart_path, class: 'btn btn-lg btn-primary' %>
  <% else %>
    <%= render partial: 'cart_button', locals: {
        product: @product,
        price: @discount_price,
        additional_product: @additional_product
    } %>
  <% end %>
</p>