<!DOCTYPE html>
<html>
  <head>
    <title><%= Company.name %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all'%>
    <%= javascript_include_tag 'application'%>
  </head>

  <body>

  <%= render 'application/navbar' %>

  <%= render 'deals/carousel' if current_page? root_path %>
  
  <div class="container">

    <%= flash_messages %>
    
    <%= yield %>
    
  </div>
  
  </body>
</html>
